table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.zebra th {
  background-color: #f2f2f2;
}

.zebra tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.expandable {
  cursor: pointer;
}

.expandable:hover {
  background-color: #f0f0f0;
}

.table-options {
  display: flex;
  flex-direction: row;
  margin: 30px 10px;
  justify-content: space-between;

}

.filter-section {
  display: flex;
  flex-direction: row;
}

.react-select-container {
  margin: 0 20px;
  width: 150px;
}